node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

.next
out
build
dist
coverage
playwright-report
test-results
.turbo

.env
.env.*
!.env.example

.DS_Store

*.tsbuildinfo

# Next.js generated environment typings (per app)
apps/*/next-env.d.ts
